In [69]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [94]:
import sys
sys.path.append("../")
from search_world.utils.analysis_utils import get_trials_dataframe, get_dataset_paths

In [114]:
base_dir = '../logs'
job_ids = ['22028567', '22033526']
df = get_trials_dataframe(get_dataset_paths(job_ids=job_ids, base_dir=base_dir), overwrite=False)

       trial_index  dataset_index  ... horizon lambda
0                0              0  ...       5    0.9
1                1              0  ...       5    0.9
2                2              0  ...       5    0.9
3                3              0  ...       5    0.9
4                4              0  ...       5    0.9
...            ...            ...  ...     ...    ...
10813           95            203  ...       5    0.9
10814           96            203  ...       5    0.9
10815           97            203  ...       5    0.9
10816           98            203  ...       5    0.9
10817           99            203  ...       5    0.9

[10818 rows x 21 columns]